@(milestone: Milestone)(implicit context: util.Context[_], flash: Flash, lang: Lang)
<div class="hidden-controls" style="float: left; width: 100%;">
	<div class="controls" style="float: right; top: 0; right: 0; padding: 0px; z-index: 9999;">
		<div class="controls-group">
			<div class="btn activateMilestone btn-success"><i class="icon-play"></i></div>
		</div>
	</div>
	<div class="btn
			@defining(Project.findBy(milestone.project_id)){ projectOption =>
				@for(project <- projectOption) {
					@for(milestone_id <- project.milestone_id) {
						@if(milestone_id == milestone.id) {
							btn-success
						}
					}
				}
			}
	" data-project-id="@milestone.project_id" data-milestone-id="@milestone.id" style="width: 70%; text-align: left"
		onclick="location.href='@routes.Milestones.show(milestone)'">
		<b>@milestone.name</b><br/> due @milestone.deadline.getOrElse("some time")
	</div>
</div>
