@(milestone: Milestone)(implicit context: util.Context[_], flash: Flash, lang: Lang)

@import tags._

@main(Messages("milestone.details1", milestone.name),editing()) {
	<h2>@Messages("milestone.details")</h2>
	
	<table class="table"><tr>
	<td>
	<dl class="dl-horizontal">
		@editableName(milestone.name)
	<dt>@Messages("milestone.deadline")</dt>
	<dd><input class="edit-date" value="@milestone.deadline"></dd>
	</dl>
	</td>
	</tr></table>

	<div class="row-fluid">	
		<div class="span4">
			<h5>Products and Versions</h5>
			@defining(Project.findBy(milestone.project_id)){ projectOption =>
				@for(project <- projectOption) {
					@for(product <- project.productList()) {
						@products.control(product)
					}
				}
			}
		</div>
		<div class="span4">
		</div>
		<div class="span4">
			@feedbackMessages()
		</div>
	</div>
	
	<p class="actions">
		<a href="/project/@milestone.project_id" class="btn btn-primary"><i class="icon-backward"></i> 
			@Messages("command.back.to.list")</a>
		@* deleteButton(controllers.routes.Books.delete(book),controllers.routes.Books.list()) *@
	</p>

<script type="text/javascript">
function update_title(newTitle) {
	$.ajax({
		url: "@routes.Milestones.updateName()",
		type: "POST",
		data: "id=@milestone.id&name="+ newTitle,
        success: reportSuccess
	});
}
function update_date(newDate,control) {
	$.ajax({
		url: "@routes.Milestones.updateDeadline()",
		type: "POST",
		data: "id=@milestone.id&deadline="+ newDate,
        success: reportSuccess
	});
}
</script>

}