@(milestone: Milestone)(implicit context: util.Context[_], flash: Flash, lang: Lang)

@import tags._

@main(Messages("milestone.details1", milestone.name),editing()) {
	<h2>@Messages("milestone.details")</h2>
	
	<table class="table"><tr>
	<td>
	<dl class="dl-horizontal">
	<dt>@Messages("property.name")</dt>
	<dd class="edit-inplace">@milestone.name</dd>
	<dt>@Messages("milestone.deadline")</dt>
	<dd><input class="edit-date" value="@milestone.deadline"></dd>
	</dl>
	</td>
	</tr></table>
	
	<p id="messages-success" style="display: none;" class="alert alert-success"></p>
	
	<p>
		<a href="/project/@milestone.project_id" class="btn btn-primary"><i class="icon-backward"></i> 
			@Messages("command.back.to.list")</a>
		deleteButton(controllers.routes.Books.delete(book),controllers.routes.Books.list())
	</p>

	<div class="span4">
		<h5>Products and Versions</h5>
		@defining(Project.findBy(milestone.project_id)){ projectOption =>
			@for(project <- projectOption) {
				@for(product <- project.productList()) {
					@products.control(product)
				}
			}
		}
	</div>
	
<script type="text/javascript">
function update_title(newTitle) {
	$.ajax({
		url: "@routes.Milestones.updateName()",
		type: "POST",
		data: "id=@milestone.id&name="+ newTitle,
        success: function(msg) {
            $("#messages-success").text(msg);
            $("#messages-success").fadeIn().delay(3000).fadeOut();
        }
	});
}
function update_date(newDate,control) {
	$.ajax({
		url: "@routes.Milestones.updateDeadline()",
		type: "POST",
		data: "id=@milestone.id&deadline="+ newDate,
        success: function(msg) {
            $("#messages-success").text(msg);
            $("#messages-success").fadeIn().delay(3000).fadeOut();
        }
	});
}
</script>

}