@(project: Project)(implicit context: util.Context[_], flash: Flash, lang: Lang)

@import tags._

@main(Messages("project.details1", project.name),editing()) {
	<h2>@Messages("project.details")</h2>
	
	<table class="table"><tr>
	<td>
		<img src="book.mediumimage" />
	</td><td>
	<dl class="dl-horizontal">
	<dt>@Messages("property.name")</dt>
	<dd class="edit-inplace">@project.name</dd>
	</dl>
	</td>
	</tr></table>
	
	<p id="messages-success" style="display: none;" class="alert alert-success"></p>
	
	<p>
		<a href="@controllers.routes.Projects.list()" class="btn btn-primary"><i class="icon-backward"></i> 
			@Messages("command.back.to.list")</a>
		<a href="controllers.routes.Books.edit(book)" class="btn"><i class="icon-edit"></i> 
			@Messages("command.update")</a>
		deleteButton(controllers.routes.Books.delete(book),controllers.routes.Books.list())
	</p>
<script type="text/javascript">
function update_title(newTitle) {
	$.ajax({
		url: "@routes.Projects.updateTitle()",
		type: "POST",
		data: "id=@project.id&name="+ newTitle,
        success: function(msg) {
            $("#messages-success").text(msg);
            $("#messages-success").fadeIn().delay(3000).fadeOut();
        }
	});
}
</script>

}