@(project: Project)(implicit context: util.Context[_], flash: Flash, lang: Lang)

@import tags._

@main(Messages("project.details1", project.name),editing()) {
	<h2>@Messages("project.details")</h2>
	
	<table class="table"><tr>
	<td>
	<dl class="dl-horizontal">
		@editableName(project.name)
	</dl>
	</td>
	</tr></table>
	
	<div class="row-fluid">
		<div class="span4">
			<h5>Milestones</h5>
			<div id="milestoneList">
				@milestones.listInline(project)
			</div>
			@helper.form(action = routes.Milestones.add(), 'style -> "margin: 0px;") {
				<input name="project_id" type="hidden" value="@project.id">
				<input name="name" style="width: 80%; margin-top: 6px;" placeholder="@Messages("milestone.create")">
				@submitHidden()
			}
		</div>
		
		<div class="span4">
			<h5>Products</h5>
			@for(product <- project.productList()) {
				@product.name <br/>
			}
		</div>
		<div class="span4">
			@feedbackMessages()
		</div>
	</div>
	
	<p class="actions">
		<a href="@controllers.routes.Projects.list()" class="btn btn-primary"><i class="icon-backward"></i> 
			@Messages("command.back.to.list")</a>
		@* deleteButton(controllers.routes.Books.delete(book),controllers.routes.Books.list()) *@
	</p>

<script type="text/javascript">
function update_title(newTitle) {
	$.ajax({
		url: "@routes.Projects.updateName()",
		type: "POST",
		data: {
			id: '@project.id',
			name: newTitle
		},
        success: function(msg) {
            reportSuccess(msg);
            $('#projectList').load('/projectList', function() {
				var button = $("#projectList").find(".btn"); 
				button.addClass("btn-updated").delay(1000).fadeIn(100,function() {
					$(this).removeClass("btn-updated");
				});
			});
        }
	});
}
</script>

}