@(version: Version)(implicit context: util.Context[_], flash: Flash, lang: Lang)

@import tags._

@main(Messages("version.details1", version.name),editing()) {
	<h2>@Messages("version.details")</h2>
	
	<table class="table"><tr>
	<td>
	<dl class="dl-horizontal">
		@editableName(version.name)
		@editableField(Messages("version.tag"),version.tag,"edit-version")
	</dl>
	</td>
	</tr></table>
	
	<div class="row-fluid">	
		<div class="span4">
		</div>
		<div class="span4">
		</div>
		<div class="span4">
			@feedbackMessages()
		</div>
	</div>
	
	<p class="actions">
		<a href="/product/@version.product_id" class="btn btn-primary"><i class="icon-backward"></i> 
			@Messages("command.back.to.list")</a>
		@* deleteButton(controllers.routes.Books.delete(book),controllers.routes.Books.list()) *@
	</p>

<script type="text/javascript">
function update_title(newTitle) {
	$.ajax({
		url: "@routes.Versions.updateName()",
		type: "POST",
		data: "id=@version.id&name="+ newTitle,
        success: function(msg) {
            $("#messages-success").text(msg);
            $("#messages-success").fadeIn().delay(3000).fadeOut();
        }
	});
}
function update_version(newTag) {
	$.ajax({
		url: "@routes.Versions.updateTag()",
		type: "POST",
		data: "id=@version.id&tag="+ newTag,
        success: function(msg) {
            $("#messages-success").text(msg);
            $("#messages-success").fadeIn().delay(3000).fadeOut();
        }
	});
}
</script>

}