@(product: Product)(implicit context: util.Context[_], flash: Flash, lang: Lang)
<div class="hidden-controls" style="float: left; width: 100%;">
	<div class="controls" style="float: right; top: 0; right: 0; padding: 0px; z-index: 9999;">
		<div class="controls-group">
			<div class="btn btn-warning selectVersion"><i class="icon-list"></i></div>
		</div>
	</div>
	<div class="btn" data-milestone-id="milestone.id" style="width: 70%; text-align: left"
		onclick="location.href='routes.Milestones.show(milestone)'">
		<b>@product.name</b><br/> [required version]
	</div>
</div>
