@(product: Product)(implicit context: util.Context[_], flash: Flash, lang: Lang)

@import tags._

@main(Messages("product.details1", product.name),editing()) {
	<h2>@Messages("product.details")</h2>
	
	<table class="table"><tr>
	<td>
	<dl class="dl-horizontal">
	<dt>@Messages("property.name")</dt>
	<dd class="edit-inplace">@product.name</dd>
	</dl>
	</td>
	</tr></table>
	
	<p id="messages-success" style="display: none;" class="alert alert-success"></p>
	
	<p>
		<a href="@controllers.routes.Products.list()" class="btn btn-primary"><i class="icon-backward"></i> 
			@Messages("command.back.to.list")</a>
		deleteButton(controllers.routes.Books.delete(book),controllers.routes.Books.list())
	</p>
	
	<div class="span3">
		<h5>Versions</h5>
		@for(version <- Version.listFor(product)) {
			@versions.control(version)
		}
		@helper.form(action = routes.Versions.add(), 'style -> "margin: 0px;") {
			<input name="product_id" type="hidden" value="@product.id">
			<input name="name" style="width: 80%; margin-top: 6px;" placeholder="@Messages("version.create")">
			@submitHidden()
		}
	</div>
	
<script type="text/javascript">
function update_title(newTitle) {
	$.ajax({
		url: "@routes.Products.updateName()",
		type: "POST",
		data: "id=@product.id&name="+ newTitle,
        success: function(msg) {
            $("#messages-success").text(msg);
            $("#messages-success").fadeIn().delay(3000).fadeOut();
        }
	});
}
</script>

}