@(products: Seq[Product])(implicit context: util.Context[_], flash: Flash, lang: Lang)

@import tags._

@main(Messages("application.name")) {
	
	<h2>@Messages("product.list")</h2>
	
	<table class="table table-bordered table-hover">
		<col />
		<col width="100px" />
		<tr>
			<th>@Messages("property.name")</th>
			<th></th>
		</tr>
		@for(product <- products) {
			<tr>
				<td>@product.name</td>
				<td style="text-align: center"><a href="@controllers.routes.Products.show(product)" class="btn">
				<i class="icon-edit"></i> @Messages("command.update")</a></td>
			</tr>
		}
	</table>
	
	<div class="span4">
		@helper.form(action = routes.Products.add(), 'style -> "margin: 0px;") {
			<input name="name" style="width: 80%; margin-top: 6px;" placeholder="@Messages("product.create")">
			@submitHidden()
		}
	</div>

}
