@(products: Seq[Product])(implicit context: util.Context[_], flash: Flash, lang: Lang)

@main(Messages("application.name")) {
	
	<h2>@Messages("product.list")</h2>
	
	<table class="table table-bordered table-hover">
		<col />
		<col width="100px" />
		<tr>
			<th>@Messages("property.name")</th>
			<th></th>
		</tr>
		@for(product <- products) {
			<tr>
				<td>@product.name</td>
				<td style="text-align: center"><a href="@controllers.routes.Products.show(product)" class="btn">
				<i class="icon-edit"></i> @Messages("command.update")</a></td>
			</tr>
		}
	</table>
	
	<p>
		<a href="@controllers.routes.Products.create()" class="btn btn-primary"><i class="icon-plus"></i> 
			@Messages("command.create")</a>
	</p>
}
