@()(implicit context: util.Context[_], flash: Flash, lang: Lang)

    	<div class="navbar navbar-fixed-top">
    		<div class="navbar-inner">
    			<div class="container">
    				<a class="brand" href="@routes.Application.index()">@Messages("application.name")</a>
    				 <ul class="nav">
						<li><a href="/projects">Projects</a></li>
						<li><a href="/products">Products</a></li>
						<li><a href="#">Link</a></li>
					</ul>
					<ul class="nav pull-right">
						<li><a href="#">Support</a></li>
						<li>@tags.account()</li>
					</ul>
    			</div>
    		</div>
    	</div>
